body {
    background-color: #fff;
    background-image:
            linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
            linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    font-family: "Neucha", serif;

}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 2vw;
    margin-top: 20px;
    margin-bottom: auto;
}

header h2{
    font-size: 1vw;

    margin-bottom: auto;
}

header h3{
    font-size: 1.25vw;
}

.choice {
    display: flex;
    gap: 3vw;
}

button {
    border-style: none;
    background-color: transparent;
}

.choiceButton{
    width: 3.5vw;
    height: auto;
    border: 10px solid transparent;
    border-radius: 50%;
    padding: 15px;


    background-clip: content-box;
    transition: transform 0.5s ease, border 0.5s ease;
}

.choiceButton:hover {
    border: 4px solid rgb(62, 115, 181);
    transform: scale(1.3);
}



.playerImage {
    width: 6.5vw;
    height: auto;
}

.game{
    display: flex;
    flex-direction: column;
}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
}

.weapon{
    display: flex;
    justify-content: space-between;
    gap: 10vw;
}

.weapon img{
    width:6vw;
    height: 6vw;
}


.round {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-size: 2vw;
    margin: 1vw;

}

.player{
    font-size: 1.5vw;
    display: flex;
    justify-content: space-evenly;
}

.human, .ai{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score h3{
    font-size: 4.5vw;
    margin: auto 2.5vw;
    background-color: rgb(237, 147, 147);
    border-radius: 20%;
    width: 4.5vw;
    height: 4.5vw;
    text-align: center;
}

#blueBorder {
    background-color: rgb(140, 171, 237) ;
}

.score{
    display: flex;
    gap: 2.5vw;
    justify-content: center;

    margin-top: auto;
}

#roundMsg{
    margin-top: 5vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endGameModel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw
}

#endMsg{
    font-size: 5vw;
}

.restartBtnCont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.restartBtnCont button{
    border: 4px solid lightseagreen;
    font-size: 2vw;
}

.restartBtn{
    visibility: hidden;
}

